<!DOCTYPE html>
<html lang="pl">

<head>
    <?php include __DIR__ . '/partials/head.html'; ?>

    <title>Index</title>

    <link rel="stylesheet" type="text/css" href="/public/styles/dashboard.css">
</head>

<body>

    <div class="main_container">

        <?php include __DIR__ . '/partials/sidebar.html'; ?>

        <div class="main_container_right">
            <?php include __DIR__ . '/partials/topbar.html'; ?>

            <main class="main_content">
                <div class="left_side">

                    <div class="summary_grid">
                        <div class="summary_card total_value">
                            <div class="title">Całkowita wartość</div>
                            <div class="content">120,000.55 PLN</div>
                        </div>
                        <div class="summary_card profit">
                            <div class="title">Zysk/Strata</div>
                            <div class="content">+5,000.55 PLN</div>
                        </div>
                        <div class="summary_card best_asset">
                            <div class="title">Najlepsze aktywo</div>
                            <div class="content">NVIDIA</div>
                        </div>
                    </div>
                    <div class="main_chart">
                        <div class="margin">
                            <div class="chart_info">
                                <div class="title">Wzrost Portfela</div>
                                <div class="subtitle">Analiza historyczna aktywów</div>
                            </div>
                            <div class="time_scope_buttons_panel">
                                <button class="time_scope_btn is-active" aria-pressed="true"
                                    onclick="setActiveButton(this)">
                                    1D
                                </button>
                                <button class="time_scope_btn" aria-pressed="false" onclick="setActiveButton(this)">
                                    1W
                                </button>
                                <button class="time_scope_btn" aria-pressed="false" onclick="setActiveButton(this)">
                                    1M
                                </button>
                                <button class="time_scope_btn" aria-pressed="false" onclick="setActiveButton(this)">
                                    1Y
                                </button>
                                <button class="time_scope_btn" aria-pressed="false" onclick="setActiveButton(this)">
                                    ALL
                                </button>
                            </div>
                        </div>
                        <div class="chart">
                            
                        </div>
                    </div>
                </div>


                <div class="center">
                    <div class="diversification_area">
                        <div class="donut_chart_card">
                            <div class="heading">Alokacja Aktywów</div>
                            <div class="donut_chart">O</div>
                            <div class="assets">
                                <div class="single_asset stocks">
                                    <div class="name">
                                        <span class="dot"></span>
                                        <span class="text">Akcje</span>
                                    </div>
                                    <div class="text">45%</div>
                                </div>
                                <div class="single_asset crypto">
                                    <div class="name">
                                        <span class="dot"></span>
                                        <span class="text">Kryptowaluty</span>
                                    </div>
                                    <div class="text">25%</div>
                                </div>
                                <div class="single_asset cash">
                                    <div class="name">
                                        <span class="dot"></span>
                                        <span class="text">Gotówka</span>
                                    </div>
                                    <div class="text">15%</div>
                                </div>
                                <div class="single_asset metals">
                                    <div class="name">
                                        <span class="dot"></span>
                                        <span class="text">Metale</span>
                                    </div>
                                    <div class="text">15%</div>
                                </div>
                            </div>
                        </div>
                        <div class="market_status">
                            <span class="title">STATUS RYNKU</span>
                            <div class="markets">
                                <div class="single_market">
                                    <span class="name">WIG20</span>
                                    <span class="percentage">+1.42%</span>
                                </div>
                                <div class="single_market">
                                    <span class="name">S&P 500</span>
                                    <span class="percentage">-1.02%</span>
                                </div>
                                <div class="single_market">
                                    <span class="name">Bitcoin</span>
                                    <span class="percentage">+10.02%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>
    <script src="/public/scripts/active_sidebar.js"></script>
    <script src="/public/scripts/dashboard.js"></script>
</body>

</html>