<!DOCTYPE html>
<html lang="pl">

<head>
    <?php include __DIR__ . '/partials/head.html'; ?>

    <title>Index</title>

    <link rel="stylesheet" type="text/css" href="/public/styles/main.css">
</head>

<body>

    <div class="main_container">

        <?php include __DIR__ . '/partials/sidebar.html'; ?>

        <div class="main_container_right">
            <?php include __DIR__ . '/partials/topbar.html'; ?>

            <main class="main_content">
                <div class="main_content_title">Portfel</div>
            </main>
        </div>

    </div>
    <script src="/public/scripts/active_sidebar.js"></script>
</body>

</html>