* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --- GLOWNE KOLORY --- */
    --color-primary: #00F0FF;
    --color-secondary: #0F141B;
    --color-tertiary: #3B494B;

    --color-surface: #0D1117;

    --color-component-background: #161B2270;
    --color-component-border: #30363D;


    /* --- TEXT --- */
    --text-primary: #00F0FF;
    --text-secondary: #DEE2EC;
    --text-muted: #B9CACB;
    --text-tertiary: #849495;

    --text-profit: #00E475;
    --text-loss: #ea4b38;
}

html, body {
    width: 100%;
    height: 100%;
}