/* ==== MAIN GAME CONTAINER ==== */
.main_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 0;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-surface);
    font-family: Arial, sans-serif;
}

.main_container_right {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    height: 100vh;
    overflow-y: auto;
}

/* ==== SIDEBAR ==== */

.sidebar {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100vh;
    background-color: var(--color-secondary);
    padding: 24px 16px;
    border-right: 1px solid var(--color-tertiary);

    flex-shrink: 0;
    height: 100vh;
}

.sidebar_top {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    padding-bottom: 40px;
    padding-left: 8px;
    padding-right: 8px;

    color: var(--text-primary);
}

.sidebar_top_title {
    color: var(--text-primary);
    font-size: 32px;
    font-weight: 700;
    line-height: 1;

}

.sidebar_top_sub-title {
    color: var(--text-tertiary);
    font-size: 12px;
    font-weight: 500;
    line-height: 2;
}



.sidebar_nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 8px 12px;
    gap: 10px;
}

.sidebar_nav_item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 16px;
    gap: 16px;

    color: var(--text-secondary);
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    /* Płynne przejście kolorów przy zmianie stanu */
    transition: color 0.2s ease, background-color 0.2s ease;
}

.sidebar_nav_item.active {
    background-color: var(--button-disabled);
    border-right: 3px solid var(--color-primary);

    color: var(--text-primary);
}

.sidebar_nav_item .nav_icon {
    display: inline-block;
    width: 24px;
    height: 24px;

    /* Kolor automatycznie dopasuje się do koloru tekstu w .menu_item */
    background-color: currentColor;

    /* Wspólne ustawienia maski */
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;

    transition: background-color 0.2s ease;
}

.icon-dashboard {
    -webkit-mask-image: url('/public/assets/icons/dashboard.svg');
    mask-image: url('/public/assets/icons/dashboard.svg');
}

.icon-portfolio {
    -webkit-mask-image: url('/public/assets/icons/portfolio.svg');
    mask-image: url('/public/assets/icons/portfolio.svg');
}

.icon-analysis {
    -webkit-mask-image: url('/public/assets/icons/analysis.svg');
    mask-image: url('/public/assets/icons/analysis.svg');
}

.icon-settings {
    -webkit-mask-image: url('/public/assets/icons/settings.svg');
    mask-image: url('/public/assets/icons/settings.svg');
}

.sidebar_item_bottom {
    margin-top: auto;
}

/* ==== TOPBAR ==== */

.topbar {
    height: 64px;
    width: 100%;

    display: flex;
    align-items: center;

    padding: 15px 10px;

    background-color: var(--color-secondary);
    border-bottom: 1px solid var(--color-tertiary);

    position: static;
}

.topbar_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 10px;

    color: var(--text-primary);
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}