<aside class="sidebar">
    <div class="sidebar_top">
        <div class="sidebar_top_title">My Wallet</div>
        <div class="sidebar_top_sub-title">Portfel inwestycyjny</div>
    </div>


    <nav class="sidebar_nav">
        <a href="dashboard" class="sidebar_nav_item active">
            <span class="nav_icon icon-dashboard"></span>
            <span>Strona główna</span>
        </a>
        <a href="portfolio" class="sidebar_nav_item">
            <span class="nav_icon icon-portfolio"></span>
            <span>Portfel</span>
        </a>
        <a href="analysis" class="sidebar_nav_item">
            <span class="nav_icon icon-analysis"></span>
            <span>Analiza</span>
        </a>
        <a href="settings" class="sidebar_nav_item sidebar_item_bottom">
            <span class="nav_icon icon-settings"></span>
            <span>Ustawienia</span>
        </a>
    </nav>

</aside>