<aside class="sidebar">
    <div class="menu_top">Wallet</div>
    <nav class="menu">
        <a href="map" class="menu_item active">
            <img src="/public/assets/icons/dashboard.svg" alt="#" class="menu_icon">
            <span>Strona główna</span>
        </a>
        <a href="shop" class="menu_item">
            <img src="/public/assets/icons/dashboard.svg" alt="#" class="menu_icon">
            <span>Portfolio</span>
        </a>
        <a href="profile" class="menu_item">
            <img src="/public/assets/icons/dashboard.svg" alt="#" class="menu_icon">
            <span>Analiza</span>
        </a>
        <a href="settings" class="menu_item menu_item_bottom">
            <img src="/public/assets/icons/dashboard.svg" alt="#" class="menu_icon">
            <span>Ustawienia</span>
        </a>
    </nav>

</aside>